.page {
  height: 100vh;
  background: linear-gradient(45deg, rgba(20, 36, 36, 1), rgba(29, 57, 60, 0.9));
  background-size: 400vh 400vh;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.balls {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  filter: blur(70px)
}
.ball {
  border-radius: 50%;
  position: absolute;
}

.ball_size_s {
  width: 50%;
  padding-bottom: 50%;
}
.ball_size_m {
  width: 70%;
  padding-bottom: 70%;
}
.ball_size_l {
  width: 90%;
  padding-bottom: 90%;
}

.ball_color_bege {
  background-color: #DBCBC8;
}

.ball_color_peach {
  background-color: #AF8C86;
}
.ball_color_bordo {
  background-color: #42242C;
}
.ball_color_rose {
  background-color: #9A627D;
}

.ball:nth-child(1) {
  top: 0;
  left: 0;
  animation: trans-left-down 20s ease-in-out infinite;
}
.ball:nth-child(2) {
  top: 50%;
  right: -5%;
  animation: trans-right-up 20s ease-in-out infinite;
}
.ball:nth-child(3) {
  bottom: -10%;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.ball:nth-child(5) {
  right: 5%;
  top: 10%;
  z-index: -2;
  animation: trans-right-down 20s ease-in-out infinite;
}
.ball:nth-child(6) {
  left: 0;
  top: 35%;
  animation: trans-left-up 20s ease-in-out infinite;
}
.ball:nth-child(7) {
  right: -10%;
  top: 0;
}
@keyframes trans-left-down {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(60%, 200%);
  }
  50% {
    transform: translate(30%,270%);
  }
  75% {
    transform: translate(100%, 30%);
  }
  100% {
    transform: translate( 0, 0);
  }
}
@keyframes trans-left-up {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(60%, -180%);
  }
  50% {
    transform: translate(10%, -150%);
  }
  75% {
    transform: translate(100%, 40%);
  }
  100% {
    transform: translate( 0, 0);
  }
}
@keyframes trans-right-down {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-90%, 100%);
  }
  50% {
    transform: translate(0%, 20%);
  }
  75% {
    transform: translate(-100%, 30%);
  }
  100% {
    transform: translate( 0, 0);
  }
}
@keyframes trans-right-up {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20%, -100%);
  }
  50% {
    transform: translate(-10%, -150%);
  }
  75% {
    transform: translate(-30%, 10%);
  }
  100% {
    transform: translate( 0, 0);
  }
}
