.btn_action_add {
  width: 40px;
  height: 40px;
  background-image: url(../../../image/plus.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(42%, 42%, 44%, 0.6);
  border-radius: 50%;
}
