.btn_action_check {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  transition: box-shadow 0.1s linear;
}

.btn_complete {
  background-image: url(../../../image/complete.svg);
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: center;
  box-shadow: 0 0 6px 2px #6EB99A;
}
