.toggle__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.toggle {
  display: inline-block;
  width: 46px;
  height: 24px;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 12px;
  display: flex;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  justify-self: end;
}
.toggle__checkbox:checked+.toggle__switch {
 box-shadow: 0 0 6px 2px #6EB99A;
}

.toggle__switch {
  width: 20px;
  height: 20px;
  transition: all 0.3s linear;
  background-color: #FFF4ED;
  border-radius: 50%;
}

